/* versão mobile */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 411px;
  height: 731px;
  font-family: "Lato", sans-serif;
}

.header {
  background-color: #e0e0e0;
}

.header-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
}

.header-box h1 {
  font-size: 24px;
}

.header-box img {
  width: 100%;
  max-width: 40px;
}

.secao-transacao {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nova-transacao h1 {
  display: none;
}

.campos-transacao {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.campos-transacao select {
  padding: 5px 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #7a7a7a;
}

.campos-transacao input {
  padding: 5px 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.secao-extrato {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 14px;
  padding-left: 10px;
}

.secao-extrato h1 {
  font-size: 18px;
  padding: 50px 0 15px 0;
  border-top: 1px solid #333333;
}

.secao-extrato td {
  padding-top: 10px;
  padding-bottom: 0;
}

.td-receita {
  width: 4%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.td-mercadoria {
  width: 66%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.td-valor {
  width: 30%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.underline {
  padding: 10px 0 0 0;
  border-bottom: 1px solid #979797;
}

.double-underline td {
  border-bottom: 5px solid #979797;
  border-bottom-style: double;
}

button {
  background-color: #333333;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 0;
  cursor: pointer;
}

.btn {
  display: inline-block;
  line-height: 36px;
  text-align: center;
  padding: 0 10px;
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
}

#MySideNav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 85vw;
  background: #333;
  margin-right: -90%;
  padding: 60px 10px 20px 0;
  color: white;
  transition: all 200ms ease-in;
}

.sidenav a {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 30px 10px 0;
  display: block;
}

.sidenav a:hover {
  background-color: #c4c4c4;
  color: black;
}

.sidenav-btn {
  position: absolute;
  left: 20px;
  top: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 20px;
  font-size: 40px;
  line-height: 1.5;
}

#aside:checked ~ #sidebar #MySideNav {
  margin-right: 0;
}

/* Versão tablet */

@media screen and (min-width: 411px) {
  body {
    width: 768px;
    height: 1024px;
  }

  #MySideNav {
    width: 252px;
  }

  .sidenav a {
    padding-right: 5px;
  }

  .secao-transacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 0 20px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
  }

  .nova-transacao h1 {
    display: initial;
    font-size: 18px;
    padding: 0 280px;
  }

  .secao-transacao label {
    margin-bottom: 5px;
  }

  #tipo-transacao {
    width: 130px;
    height: 32px;
    margin-right: 10px;
  }

  #nome-mercadoria {
    width: 348px;
    height: 32px;
    margin-right: 10px;
  }

  button {
    margin-left: 437px;
    margin-top: 20px;
    width: 268px;
    height: 32px;
  }

  .secao-extrato h1 {
    margin-top: 25px;
    border: 0px solid transparent;
  }
}

/* Versão tablet - orientação paisagem */

@media screen and (min-width: 768px) and (orientation: landscape) {
  body {
    width: 1024px;
    height: 768px;
  }

  .header {
    width: 100%;
    height: 80px;
    display: flex;
  }

  .header-box {
    width: 1112px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header-box img {
    margin: 0 20px;
  }

  .header-box h1 {
    text-align: left;
    font-size: 20px;
  }

  #MySideNav {
    right: 30px;
    top: 5px;
    padding: 0;
    width: fit-content;
    height: 40px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .sidenav a {
    width: 220px;
    height: 50px;
    margin: 10px 0;
    padding: 15px 0;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
  }

  .sidenav a:hover {
    color: #fff;
  }

  .sidenav .limpar {
    width: 160px;
  }

  .sidenav .cadastro {
    width: 230px;
    position: relative;
  }

  .sidenav .cadastro:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 25%;
    height: 50%;
    border-left: 1px solid #333;
  }

  .sidenav-toggle {
    display: none;
  }

  .sidenav-btn {
    display: none;
  }

  #aside:not(:checked) ~ #sidebar #MySideNav {
    margin-right: 0;
  }

  .secoes {
    display: flex;
  }

  .secao-transacao {
    width: 400px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
  }

  .nova-transacao h1 {
    width: 174px;
    height: 20px;
    padding: 0;
  }

  .secao-transacao #tipo-transacao,
  input,
  #nome-mercadoria {
    width: 370px;
    height: 32px;
    margin: 0;
    padding: 0;
  }

  button {
    display: flex;
    width: 370px;
    height: 32px;
    margin: 0;
    margin-top: 20px;
    padding: 5px 0px 5px 110px;
  }

  .secao-extrato {
    width: 652px;
    height: 281px;
  }

  .secao-extrato h1 {
    margin-top: 0;
  }
}

/* Versão desktop */

@media screen and (min-width: 1112px) {
  body {
    width: 100%;
    height: 100%;
  }

  .header-box {
    width: 100%;
    margin-left: 12%;
  }

  .secoes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #sidebar {
    margin-right: 9%;
  }
}
